.HomeHeader{
  background-color: #333;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 44px;
  line-height: 44px;
  .header-logo{
    width: 96%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    img{
      height: 30px;
      margin-top: 7px;
    }
    i{
      color: #fff;
    }
  }
  .header-menu{
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    background-color: #333;
    li{
      border-top: 1px solid #666;
      text-align: center;
      color: #fff;
      line-height: 44px;
      font-size: 14px;
    }
  }
}